<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<form method="post" action="" id="the-form">
    <table cellpadding="25">
    <tr>
        <td class="label">Date</td><td>: <input type="date" name="date" value="<%=data[0].date%>"></td>
     </tr>
    <tr>
        <td class="label">Type</td><td>: <select id="type" name="type" selected="<%=data[0].type%>">
          <option value="food" selected="<%=data[0].type%>"=="food">Food</option>
          <option value="clothes" selected="<%=data[0].type%>"=="clothes">Clothes</option>
          <option value="traffic" selected="<%=data[0].type%>"=="traffic">Traffic</option>
          <option value="entertainment" selected="<%=data[0].type%>"=="entertainment">Entertainment</option>
          <option value="travel" selected="<%=data[0].type%>"=="travel">Travel</option>
         </select></td>
     </tr>
     <tr>
        <td class="label">Cost</td><td>: <input type="number" name="cost" value="<%=data[0].cost%>"></td>
     </tr>
     <tr>
        <td class="label"></td>
        <td>
            &nbsp; <input type="button" value="Save" onClick="saveRecord()">
            <input type="reset">
        </td>
     </tr>
    </table>
</form>
 <script>
    
        function saveRecord(){
           
           $.ajax({
            
            url:"/api/costRecord/"+<%=data[0].record_id%>,
            type:"put",
            data:$("#the-form").serialize(),
            success:function(res){
                
                window.location.href = '/api/costRecord';
                return false;
            },
            error:function(xhr, status, error){
                
                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {
                   
                     err +='<li>'+item.msg+'</li>';
                });
                $(".err-area").html(err);    
                return false;
            }
            
           });
        }
    
    </script>
</body>
</html>
